<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My FastAPI App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <p>This is the main page of the site.</p>
    <p>Feel free to customize this page.</p>
    <a href="/auth/signup">
        <button>Signup</button>
      </a>
      <a href="/auth/login">
        <button>Login</button>
      </a>


    <script src="/static/script.js"></script>
</body>
</html>
